/*
    I used this code when I SSH into the discord bot instance
    so that the discord bot can be ran persistantly
*/


[Unit]
Description=Discord Bot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /path/to/discord_bot.py
WorkingDirectory=/path/to/bot-directory
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
